.click{
    background-color: rgb(231, 4, 4);
     color: white;
     cursor: pointer;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 17px;
     padding-right: 17px;
     border: none; 
     text-align: center;
     margin-top: 6px;
     margin-bottom: 6px;
}
.nom{
    background-color: rgb(148, 204, 236);
     color: white;
     cursor: pointer;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 17px;
     padding-right: 17px;
     border: none; 
     text-align: center;
     margin-top: 6px;
     margin-bottom: 6px;
     border-radius: 19px;
     margin-left: 5px;

}
.gout{
    background-color: black;
    color: white;
    border: none;
    height: 38px;
    width: 106px;
    margin-top: 4px;
    margin-left: 5px;
    cursor: pointer;
    transition: opacity 0.16s;
    vertical-align: top;
    }
.cart{
    background-color: rgb(238, 238, 90);
    color: rgb(0, 0, 0);
    height: 36px;
    width: 100px;
    cursor: pointer;
    border-radius: 18px;
    margin-right: 2px;
    border: none;
}
.buy{
    background-color: rgb(248, 185, 12);
    color: rgb(0, 0, 0);
    height: 36px;
    width: 100px;
    cursor: pointer;
    border-radius: 18px;
    margin-right: 2px;
    border: none;
}
.cart:hover{
    background-color: rgb(255, 251, 6);
}
.cart:active{
    opacity: 0.5;
}
.buy:hover{
    background-color: rgb(255, 137, 3);
}
.buy:active{
    opacity: 0.5;
}
.stock{
    color: rgb(6, 109, 6);
}